<div class="snippet" data-ref="snippet">
	<header class="snippet__header">
		<div class="snippet__user-info">
			{% include 'includes.avatar' with {
				user: snippet.author,
				class: 'snippet__user-avatar'
			} %}
			<h3 class="snippet__name">
				<a href="/snippets/{{ snippet.slug }}">{{ snippet.name }}</a>
			</h3>
			<span class="snippet__author-name">by {{ snippet.author.full_name }}</span>
		</div>
		<div class="snippet__snippet-info">
			<div class="snippet__likes-count">
				<span data-ref="snippetLikesCount">{{ snippet.likes|length }}</span>
				<i class="fa fa-heart fa-fw fa-lg like{% if snippet.isLiked() %} -is-active{% endif %}" data-ref="likeSnippet" data-id="{{ snippet.id }}"></i>
			</div>
			<div class="snippet__files-count">
				{{ snippet.files|length }}
				<i class="fa fa-file-code-o fa-fw fa-lg"></i>
			</div>
			<div class="snippet__comments-count">
				{{ snippet.commentCount }}
				<i class="fa fa-comment-o fa-fw fa-lg"></i>
			</div>
		</div>
	</header>
	<div class="snippet__body" data-ref="snippetBody" data-slug="{{ snippet.slug }}">
		{% set file = snippet.files[0] %}
		<div class="snippet__file">
			<pre><code class="{{ file.language.slug }} hljs">{{ file.body }}</code></pre>
		</div>
	</div>
</div>